@import "../../../assets/styles/colors.scss";

.button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: $main;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;

    & > * {
        margin-right: 10px;
    }

    &:last-child {
        margin-right: 0;
    }

    &:active {
        background-color: darken($main, 12%);
        transform: translateY(1px);
    }
}
