.ad-cart {
    list-style-type: none;

    li {
        padding: 10px 0;
    }

    .empty-favorites {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
