body {
    background-color: rgb(227, 223, 255);
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.filters {
    height: 400px;

    & > * {
        margin-bottom: 30px;
    }

    &.disabled > * {
        pointer-events: none;
        // color: #cccccc;

        input,
        select {
            background-color: #f3f3f3;
        }
    }
}

.result {
    .title {
        margin-bottom: 20px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1440px) {
    .content {
        margin: 20px auto;
        width: 90%;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
    }
}

@media (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 90%;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
    }

    .filters {
        height: auto;
        width: 300px;
        margin: 0 auto;
    }
}
